.center.hero-unit
  %h1= t '.hello'
  %h3
    %p.text-success
      =t '.text_part1'
      %br
      =t '.text_part2'
      =t '.text_part3'
  = link_to t('.plan'), plan_path, class: 'btn btn-info btn-large'
  %br
  %br
  = link_to t('.subscribe'), new_subscribes_path, class: 'btn btn-success btn-large'
  %br
  %br
  = link_to (image_tag 'https://travis-ci.org/davetoxa/davetoxa.png?branch=master'), 'https://github.com/davetoxa/davetoxa'
  %br
  = link_to (image_tag 'https://gemnasium.com/davetoxa/davetoxa.png'), 'https://gemnasium.com/davetoxa/davetoxa', target: '_blank'
  %br
  = image_tag('rails.png', alt: 'Rails')
  .author
    = link_to 'Anton Cherepanov', 'https://twitter.com/davetoxa', target: '_blank'
    #{Date.today.year}