%h1= t('.title')
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = #f.input :info
  .form-actions
    = #f.button :submit
    %br
    %button.pure-button.pure-button-error= link_to t('.destroy_account'), registration_path(resource_name), data: { confirm: t('confirm') }, method: :delete
%p
  %button.pure-button.pure-button-warning= link_to t('.exit'), destroy_user_session_path, method: :delete, class: 'btn btn-inverse'
