= simple_form_for @post, html: {class: 'pure-form pure-form-stacked'} do |f|
  .form-inputs
    = f.input :title, required: true
    = f.input :content, required: true
  %br
  .form-actions
    = f.button :submit, class: 'pure-button pure-button-success'
    - if @post.id
      %button.pure-button.pure-button-error= link_to t('.destroy'), post_path(@post), method: :delete
    %hr
    = render partial: 'shared/markdown_hints'
