%h2= t('.title') #  #{@subscribes.size}
- @subscribes.each do |s|
  = s.email
  - if can? :destroy, Subscribe
    = link_to '', '', class: 'icon-remove'
  %hr
= will_paginate @subscribes

= link_to t('main.index.subscribe'), new_subscribe_path, class: 'btn btn-success btn'