!!!
%html
  %head
    %meta{name: 'keywords', content: 'блог, блог rails, ruby on rails, Ruby, Rails, Rails4, руководство, начинающим, самоучитель, учебник, примеры, Руби, рельсы'}
    %meta{name: 'description', content: 'Блог на Ruby on Rails, учебник, статьи'}
    %title= full_title(yield :title)
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = render 'layouts/shim'
  %body
    = render 'layouts/header'
    .container
      = render 'layouts/flash'
      - if user_signed_in?
        .user-link= link_to current_user.email, edit_user_registration_path
      = yield
      .user
    = render 'layouts/footer'
    = render 'layouts/counter'
