!!!
%html
  %head
    %meta{name: 'keywords', content: 'блог, блог rails, blog, rails blog, ruby on rails, Ruby, Rails, Rails4, руководство, начинающим, самоучитель, учебник, примеры, Руби, рельсы'}
    %meta{name: 'description', content: 'Блог на Ruby on Rails, учебник, статьи'}
    %title= t '.title'

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = render 'layouts/shim'
  %body
    = render 'layouts/header'
    .container
      = render 'layouts/flash'
      - if user_signed_in?
        .user-link
          = link_to (image_tag gravatar(current_user.email), class: 'avatar'), edit_user_registration_path
      = yield
    = render 'layouts/footer'
    = render 'layouts/counter'
