!!!
%html
  %head
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}
    %title= t '.title'
    %link{href: 'http://yui.yahooapis.com/pure/0.5.0/pure-min.css', rel: 'stylesheet'}
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = render 'layouts/shim'
  %body
    #layout.pure-g-r
      = render 'layouts/header'
      .pure-u-1
        .content
          = render 'layouts/flash'
          = yield
          = render 'layouts/footer'
